!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RailsNonDevise
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    #wrapper
      %header#header
        %p#header-logo= link_to('RailsNonDevise', root_path)
        %ul#header-nav
          - if signed_in?
            %li= "ログインユーザー：#{current_user.name}"
            %li= link_to 'sign out', session_path(current_user), method: :delete
          - else
            %li= link_to 'sign up', new_user_path
            %li= link_to 'sign in', new_session_path
      #container
        = render 'layouts/flash'
        = yield
